<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="MSAccess" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=RapidEntityTest\RapidAsService\App_Data\demodatabase2.mdb;User Id=;Password="/>
		<add name="SQLServer" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=demodatabase;Integrated Security=True; MultipleActiveResultSets=True"/>
		<add name="Oracle" connectionString="Data Source=localhost;User ID=AHMED;Password=ahmed;Unicode=True"/>
		<add name="MySql" connectionString="server=localhost;user id=root;password=ahmed;database=test;persist security info=True"/>
	</connectionStrings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="RapidAsService.Service1Behavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="RapidAsService.Service1Behavior" name="RapidAsService.RapidService">
				<endpoint address="" binding="basicHttpBinding" contract="RapidAsService.IRapidService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web></configuration>
