<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("a8652aee-b64b-4a21-8bce-cb55b0ba4ff6");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
